body {
  padding-bottom: 15px;
}

.field label {
  display: block;
}

span.error {
  background: transparent;
  border: none;
}

.user-panel {
  background: #333;
  border-bottom: 1px solid #000;
  color: #fff;
  padding: 5px 0px;
}

.user-panel ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.user-panel li {
  display: inline-block;
}

li.separator {
  padding: 0px 5px;
}

br.clear {
  clear: both;
  font-size: 0px;
  line-height: 0px;
}

.box {
  background: #fafafa;
  border: 1px solid #ccc;
}

h1, h2, h3 {
  text-decoration: underline;
}

.error h3 {
  color: #900;
  text-decoration: none;
}

/* navigation */
#nav {
  margin-bottom: 5px;
}

#nav ul {
  list-style: none;
}

#nav li {
  display: inline-block;
}

/* comments */
.comment .header {
  float: left;
  padding-right: 10px;
}


img.gravatar {
  border: 1px solid #ccc;
  padding: 5px;
}
